.div-top{
                border: 2px solid rgb(0, 0, 0);
                padding: 10px;
                margin-bottom: 10px;
                height: 20vh;
                width: 100vw ;
                border-style: dashed;
                background-color: rgb(255, 0, 0);
                border-radius: 50px;
            }   
            .div-left{
                border: 2px solid rgb(0, 0, 0);
                padding: 10px;
                margin-top: 10px;
                height: 60vh;
                width: 67vw ;
                float: right;
                border-style: dotted;
                background-color: rgb(238, 255, 0);
                border-radius: 50px;
            }
            .div-right{
                border: 2px solid rgb(0, 0, 0);
                padding: 10px;
                margin-top: 10px;
                height: 60vh;
                width: 28vw ;
                border-style: dotted;
                background-color: rgb(0, 140, 255);
                border-radius: 50px;
            }
            .div-bottom{
                border: 2px solid rgb(0, 0, 0);
                padding: 10px;
                margin-top: 10px;
                height: 15vh;
                width: 100vw ;
                border-style: dashed;
                background-color: green;
                border-radius: 50px;
            }
